.App {
  display: grid;
  grid-template-rows: 1fr 30px 4fr;
  text-align: center;
  height: 80%;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.leaflet-container {
  justify-self: center;
  width: 80%;
  height: 30%;
}

h1 {
  color: #d1e8e2;
  margin: 0;
  max-height: 10px;
  grid-column-start: span 2;
}

p {
  color: #d1e8e2;
}

table {
  border: 5px solid #d1e8e2;
  background-color: black;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #d1e8e2;
}

.tableContainer {
  grid-column-start: 1;
  overflow-y: scroll;
  max-height: 90vh;
  max-width: 50vw;
  margin: 0 0 15px 25px;
}

#popup-info {
  color: #2c3531;
}

canvas {
  display: flex;
  justify-self: center;
  grid-column-start: 2;
  max-height: 500px;
  max-width: 500px;
  padding: 0 0;
  margin: 0 0;
}

.tableChart {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 50% 50%;
}

.chartjs-size-monitor {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

label {
  color: white;
}

.mapHeadings {
  max-height: 50px;
}
